/*html{
	/* This image will be displayed fullscreen */
	background:url("http://www.space.com/images/i/000/055/751/original/classic-barred-spiral-galaxy-1920.jpg?interpolation=lanczos-none&fit=around|1920:1200&crop=1920:1200;*,*") no-repeat center center;

	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}

body{
	/* Workaround for some mobile browsers */
	min-height:100%;
}*/