{% extends "blog/baseWithoutHeader.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% block content %}
<div class="backgroundWrapper">
	<div class="bg"/>
</div>

<div style="display:flex;margin:0 auto;">
	<div class="contentWrapper" id="workExperience">
		<h3 style="text-align: center">Work Experience</h3>
		<p style="font-size: 20px;">DVIDS</p>
		<p style="font-size: 12px;">&nbsp;&nbsp;4/16 - Present</p>
		<p style="margin-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

		<p style="font-size: 20px;">DevelAppMe</p>
		<p style="font-size: 12px;">&nbsp;&nbsp;9/15 - 12/15</p>
		<p style="margin-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
		
	</div>

	<div class="contentWrapper" id="myPicWrapper">
		<img src="{% static "images/personalPic.jpg" %}" class="personalPic"/>
		<p id="name">David Thurman</p>
		<p id="jobTitle">Application Developer</p>
	</div>
	
</div>

<div style="display:flex;margin: auto; ">
	<div class="contentWrapper" id="specialtiesWrapper">
		<h3 style="text-align: center">Specialties</h3>
		<div style="text-align: center">
			<div class="skillsList" style="float:left">
				<ul >
					<li style="margin-top: 30px">iOS Development</li>
					<li style="margin-top: 30px">Python Applications</li>
					<li style="margin-top: 30px">.NET (UWP)</li>
					<li style="margin-top: 30px">Video Compression</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="contentWrapper" id="languageWrapper">
		<h3 class="contentTitle">Languages</h3>
		<p style="text-align: center"><img src="{% static "images/pawn.png" %}" /> = Proficiency</p>
		<div class="skillsList">
      		<ul>
	      		<li>Swift&nbsp;&nbsp;&nbsp; <img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      		<li>Python <img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      		<li>C#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      		<li>Java&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      	</ul>
      	</div>
      	<div class="skillsList">
      		<ul>
      			<li>Android&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>SQL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>PHP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>HTML&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>      			
      		</ul>	
	    </div>
	    <div class="skillsList">
      		<ul>
      			<li>CSS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>Javascript&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/></li>
      			<li>Objective-C&nbsp;<img src="{% static "images/pawn.png" %}"/></li>
      		</ul>	
	    </div>
	</div>
	
	
</div>
<div class="contentWrapper" id="frameworksWrapper">
		<h3 class="contentTitle">Frameworks, Source Control, Tools, Misc.</h3>
		<div style="text-align: center">
			<div class="skillsList" style="float:left">
				<ul>
					<li>Django</li>
					<li>Laravel</li>
					<li>Git</li>
					<li>Github</li>
					<li>Scrum</li>
					<li>Xcode</li>
				</ul>
			</div>
			<div class="skillsList" style="float:right">
				<ul>
					<li>Mercurial</li>
					<li>Bitbucket</li>
					<li>Project Management</li>
					<li>Agile Methodologies</li>
					<li>Visual Studio</li>
					<li>Android Studio</li>
				</ul>
			</div>
		</div>
	</div>


{% endblock content %}