{% extends "blog/baseWithoutHeader.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% block content %}

<div style="display:flex;margin:0 auto;">

	<div class="contentWrapper" id="myPicWrapper">
		<img src="{% static "images/personalPic.jpg" %}" class="personalPic"/>
		<p id="name">David Thurman</p>
		<p id="jobTitle">Application Developer</p>
	</div>

	<div class="contentWrapper" id="workExperience">
		<h3 style="text-align: center">Work Experience</h3>
		<p style="font-size: 20px;">DVIDS</p>
		<p style="font-size: 12px;">&nbsp;&nbsp;4/16 - Present</p>
		<p style="margin-left: 20px;">I work as an Application Developer contracted by the Military do develop various kinds of applications and maintain current devices' apps. Some of the platforms I work on regularly include iOS, tvOS, Roku, Amazon Fire, and Android TV. I also work web development on dvidshub.net, using PHP and JavaScript, and defensetv.com, using AngularJS. I also work on a wide variety of different projects including a C# application for DVIDS that utilizes the DVIDS API and a built in media player, a Python GUI application that compresses videos using FFmpeg and x265 with up to 900% reduction in size and slight quality differences, and working on security fixes for a web based video conference application in Java.</p>

		<p style="font-size: 20px;">DevelAppMe</p>
		<p style="font-size: 12px;">&nbsp;&nbsp;9/15 - 12/15</p>
		<p style="margin-left: 20px;">Certiﬁed in completing the Professional Development DevelAppMe Academy three month program in which I created many mobile apps from start to ﬁnish along with constant group collaboration and experience in using Scrum. </p>
		
	</div>
	
</div>

<div style="display:flex;margin: auto; ">
	<div class="contentWrapper" id="specialtiesWrapper">
		<h3 style="text-align: center">Specialties</h3>
		<div style="text-align: center">
			<div class="skillsList" style="float:left">
				<ul class="specialties">
					<li style="margin-top: 30px">iOS Development</li>
					<li style="margin-top: 30px">Python Applications</li>
					<li style="margin-top: 30px">.NET (UWP)</li>
					<li style="margin-top: 30px">Video Compression</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="contentWrapper" id="languageWrapper">
		<h3 class="contentTitle">Languages</h3>
		<p style="text-align: center"><img src="{% static "images/pawn.png" %}" /> = Proficiency</p>
		<div class="skillsList">
      		<ul>
	      		<li>Swift&nbsp;&nbsp;&nbsp; <img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      		<li>Python <img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      		<li>C#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      		<li>Java&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
	      	</ul>
      	</div>
      	<div class="skillsList">
      		<ul>
      			<li>Android&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>SQL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>PHP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>HTML&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>      			
      		</ul>	
	    </div>
	    <div class="skillsList">
      		<ul>
      			<li>CSS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/><img src="{% static "images/pawn.png" %}"/></li>
      			<li>Javascript&nbsp;&nbsp;&nbsp;<img src="{% static "images/pawn.png" %}"/></li>
      			<li>Objective-C&nbsp;<img src="{% static "images/pawn.png" %}"/></li>
      		</ul>	
	    </div>
	</div>
	
	
</div>


<div style="display:flex;margin: auto; ">

	<div class="contentWrapper" id="specialtiesWrapper">
		<h3 style="text-align: center">Contact Me</h3>
		<div style="text-align: center">
			<div class="skillsList" style="float:left">
				<p class="contactTitle">Email</p>
				<p class="contactInfo">davidthurmanwork@gmail.com</p>
				<p class="contactTitle">Phone</p>
				<p class="contactInfo">678-699-4527</p>
			</div>
		</div>
	</div>

	<div class="contentWrapper" id="frameworksWrapper">
		<h3 class="contentTitle">Frameworks, Source Control, Tools, Misc.</h3>
		<div style="text-align: center">
			<div class="skillsList" >
				<ul class="frameworks">
					<li>Django</li>
					<li>Laravel</li>
					<li>Git</li>
					<li>Github</li>
					
				</ul>
			</div>
			<div class="skillsList" >
				<ul class="frameworks">
					<li>Mercurial</li>
					<li>Bitbucket</li>
					<li>Project Management</li>
					<li>Agile Methodologies</li>
					
				</ul>
			</div>
			<div class="skillsList">
				<ul class="frameworks">
					<li>Scrum</li>
					<li>Xcode</li>
					<li>Visual Studio</li>
					<li>Android Studio</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>

{% endblock content %}