{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block header %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<h2>{{ project }}</h2>
{% endblock header %}

{% block content %}
	<ul>
		
			<div class="panel panel-default">
				<div class="panel-heading">
					
					<h3>
						{{ project.text }}
						<!--{{ entry.date_added|date:'M d, Y H:i' }}-->
					</h3>
					
				</div>
				
				<div class="panel-body">
					{% for x in pictures %}
						<img class="projectPic" src="{% static x.url %}"/>
						<h3 class="projectTitle">{{ x.title }}</h3>
					{% empty %}

					{% endfor %}
				</div>
				
			</div>
		
	</ul>

{% endblock content %}