body {
  margin:0;padding:0;
  display:block;
}
/*
@media and screen and (max-width:750px) {
    .contentWrapper {
        width:100% !important;
        display: block;
    }
}
*/
.bg {
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position:fixed;
}
img.menuIcon {
	height: 3.5%;
	width: 3.5%;
}
img.projectPic {
    display: block;
    margin: auto;
}
h3.projectTitle {
	text-align: center;
}
img.homescreenPic {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;

    margin: auto;
    overflow: auto;
}
.contentWrapper {
  position:relative;
  z-index:2;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 20px black;
  overflow:auto;
  display:inline-block; 
  width:80%; 
  margin:3% 5%;
  transition: all 1s ease;
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
.contentWrapper:hover {
  -webkit-filter:opacity(100%);
  filter(opacity(100%));
}
#myPicWrapper {
    width: 200px;
    margin: 50px auto;
    width:20%; 
    margin:3% 5%;
    align-items:stretch;
}
#languageWrapper {
  float:left;
  display:inline-block; 
  width:60%; 
  margin:2% 5%;

}
#workExperience {
  width:60%; 
}
#frameworksWrapper {
  float: left;
  display:inline-block; 
  width:60%; 
  margin:2% 5%;
  align-items:stretch;
}
#specialtiesWrapper {
  float:right;
  display:inline-block; 
  width:20%; 
  margin:2% 5%;
}
ul li{
  margin-top: 15px;
}
ul {
  margin-left: 20px;
}
ul.specialties {
  margin-left: 0px;
  margin-right: 10px;
  list-style-type: none;
}
ul.frameworks {
  margin-left: 55px;
}
.contentTitle {
  text-align: center;
  margin-bottom: 35px;
}
.personalPic {
  border-radius: 100%;
  max-width: 100%;
    height: auto;
    margin: 6% 0%;

}
.contactTitle {
  font-size: 18px;
  margin-top: 20px;
}
.contactInfo {
  font-size: 14px;
  margin-top: 10px;
}
#name {
  font-size: 32px;
  text-align: center;
  margin: 18% 0%;

}
#jobTitle {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}
.pageWrap {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px black;
}
/*.bg:hover{
  -webkit-filter:opacity(100%);
  filter(opacity(100%));
}*/
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.skillsList {
	float: left;
}

p.workExperienceJob {
  font-size: 32px !important;
}
#x {
  font-size: 32px;
}
.workExperienceTime {

}
.workExperienceDetails {

}

